<%= @post.id %>번째 글입니다.<br><br>
제목: <%= @post.title %><br>
내용: <%= @post.content %><br>

<!--좋아요-->
<a href = "/posts/<%= @post.id%>/likes">좋아요</a>
<%= @post.users.count %><hr>

<!--댓글 쓰는곳-->
<form action = "<%= post_comments_path(@post) %>" method = "POST" data-remote="true">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <!--아이디: <input type="text" name="user_name" id="comment_user">-->
    댓글: <input type="text" name = "body" id="comment_body">
    <input type="submit">
</form>

<!--댓글 보여주는곳-->
<div id="comment_lists">
    <% @post.comments.each do |comment| %>
        <!--댓글 <%= comment.id %>-->
        <!--: <%= comment.user_name %>-->
        <%= comment.body %>
        <br>
    <% end %>
</div>
<hr>
<a href = "/posts/index">글 목록</a>